.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.searchContainer {
  margin-block: 20px;
}

.searchContainer input {
  width: 300px;
  padding-left: 30px;
  height: 50px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.searchContainer button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #cae962;
  margin-left: 20px;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.1);
}

.container > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container ul li {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.container ul li h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.container ul li img {
  padding: 10px;
  border-radius: 10px;
  height: 320px;
  width: 250px;
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.1);
  border: 3px solid #cae962;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .container > ul {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .searchContainer input {
    width: 250px;
  }
}
